{% extends "base.html" %}
{% block content %}

<h1>Benigno o Maligno</h1>
<p class="comment">Busca si la lesión en la piel es normal o no. Subir una imagen o especificar la URL.</p>
<dive class="col-xs-6">
    <form action="/upload" id="upload-file" method="post" enctype="multipart/form-data">
        <p class="comment">Seleccionar la imagen y presionar Detectar:</p>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="file" id="customFile">
            <label class="custom-file-label" for="customFile">Seleccionar Archivo</label>

        </div>

        <div>
            <input type="submit" class="btn btn-success" id="btn-predict" value="Detect" />
        </div>
    </form>

    <h5 class="comment">O</h5>
    <p class="comment">Ingresar la URL de la imagen y presionar Detectar:</p>
    <form action="/classify-url" id="submit-url" method="post">
        <div class="col-xs-4">
            <input type="url" class="form-control" name="url" id="url-input" placeholder="Ingresar URL de la imagen">
        </div>
        <div>
            <input type="submit" class="btn btn-success" value="Detectar">
        </div>
    </form>
    <h3 id="result">
        <span> </span>
    </h3>

</dive>
{% endblock %}
